---
import PageHeader from '../../components/PageHeader.astro';
import Layout from '../../layouts/Layout.astro';
import Tjeneste from '../../components/Tjeneste.astro';
import tjenester from '../../data/tjenester.js';

const kategori = "byggOgKontroll";
const filtrerteTjenester = tjenester.filter(tjeneste =>
tjeneste.kategori.includes(kategori)
);

export const currentPath = "/tjenester/byggkontroll";
---
<Layout currentPath={currentPath}>
	<PageHeader pageTitle="Byggeprosjekt og kontroll" />

<section class="grid md:grid-cols-2">
  {filtrerteTjenester.map(tjeneste => (
    <Tjeneste {...tjeneste} />
  ))}
</section>
</Layout>