---
import PageHeader from '../../components/PageHeader.astro';
import Layout from '../../layouts/Layout.astro';

export const currentPath = "/energi";
---
<Layout currentPath={currentPath}>
	<PageHeader pageTitle="Energi og rådgivning" />
	<div class="h-72 content-center text-center">
		<h1>Her kommer litt om energi og rådgivning</h1>
	</div>
</Layout>

<style>
    
</style>