---
import PageHeader from "../../components/PageHeader.astro";
import TjenesteIngress from "../../components/TjenesteIngress.astro";
import Layout from "../../layouts/Layout.astro";
import Tjeneste from "../../components/Tjeneste.astro";
import tjenester from "../../data/tjenester.js";
import OmOss from "../../components/OmOss.astro";

const { success, errorMessage } = Astro.props;

const kategori = "kjopOgSalg";
const filtrerteTjenester = tjenester.filter((tjeneste) =>
  tjeneste.kategori.includes(kategori)
);

const ekstraKort = filtrerteTjenester.length % 2 !== 0;

export const currentPath = "/tjenester/kjopogsalg";
---

<Layout currentPath={currentPath}>
  <TjenesteIngress />
  <PageHeader pageTitle="Kjøp og salg av bolig" />

  <section class="service-section">
    {filtrerteTjenester.map((tjeneste) => <Tjeneste {...tjeneste} />)}
    {
      ekstraKort && (
        <section class="service-card shadow-box">
          <div class="service-header">
            <img src={`/icons/question.svg`} alt="" class="ikon" />
            <h3 class="service-tittel">Usikker på hva du trenger?</h3>
          </div>
          <p class="my-12 md:text-xl">
            Kontakt oss for gratis veiledning om boligkjøp, tilstandsrapport
            eller reklamasjonsrapport.
          </p>
          <button class="button">
            <a href="/bestill-takst">Ta kontakt</a>
          </button>
        </section>
      )
    }
  </section>
  <OmOss success={success} errorMessage={errorMessage} />
</Layout>
