---
import PageHeader from "../../components/PageHeader.astro";
import TjenesteIngress from "../../components/TjenesteIngress.astro";
import Layout from "../../layouts/Layout.astro";
import Tjeneste from "../../components/Tjeneste.astro";
import tjenester from "../../data/tjenester.js";
import OmOss from "../../components/OmOss.astro";
import Ekstrakort from "../../components/Ekstrakort.astro"

const { success, errorMessage } = Astro.props;

const kategori = "kjopOgSalg";
const filtrerteTjenester = tjenester.filter((tjeneste) =>
  tjeneste.kategori.includes(kategori)
);

const ekstraKort = filtrerteTjenester.length % 2 !== 0;
const bakgrunn = "hsl(48, 100%, 90%)";

export const currentPath = "/tjenester/kjopogsalg";
---

<Layout currentPath={currentPath}>
  <TjenesteIngress />
  <PageHeader pageTitle="Kjøp og salg av bolig" />
  
  <section class="main-container">
    <div class="card-container">
      {filtrerteTjenester.map((tjeneste) => <Tjeneste {...tjeneste} />)}
      {
        ekstraKort && (
          <Ekstrakort />
      )
    }
    </div>
  </section>
  <OmOss success={success} errorMessage={errorMessage} />
</Layout>
<style>
  .card {
    /* Korta inni containeren */
    flex: 1 1 240px; /* Minst 240px, veks ved plass */
    min-width: 220px;
    max-width: fit-content;
    height: auto;
    border-radius: var(--card-radius);
    padding-top: calc(var(--card-padding) * 2);
    padding-bottom: calc(var(--card-padding) * 2);
    padding-left: calc(var(--card-padding) * 3);
    padding-right: calc(var(--card-padding) * 3);
  }
</style>