---
import PageHeader from '../../components/PageHeader.astro';
import Layout from '../../layouts/Layout.astro';

export const currentPath = "/tjenester/kjopogsalg";
---
<Layout currentPath={currentPath}>
	<PageHeader pageTitle="Kjøp og salg av eiendom" />
	<div class="h-72 content-center text-center">
		<h1>Her kommer litt om ulike tjenester innenfor næringstaksering</h1>
	</div>
</Layout>