---
import PageHeader from "../components/PageHeader.astro";
import Layout from "../layouts/Layout.astro";

export const currentPath = "/bestill-takst";

const services = [
  { label: 'Boligtaksering', options: ['Tilstandsrapport', 'Verditakst', 'Forhåndstakst', 'Verdivurdering', 'Tomtetakst', 'Skadetakst', 'Reklamasjonsrapport', 'Kjøpe bolig'] },
  { label: 'Næringstaksering', options: ['Næringstakst'] },
  { label: 'Byggeprosjekt og Kontroll', options: ['Byggelånsoppfølging', 'Uavhengig kontroll'] },
  { label: 'Energi og Rådgivning', options: ['Energirådgivning for bolig', 'Enovatilskuddet'] }
];
---

<Layout currentPath={currentPath}>
  <PageHeader pageTitle="Bestill tenester" />
  <div class="content-center">
    <section class="contact-section">
      <div class="contact-intro">
        <h2 class="contact-title">Ta kontakt</h2>
        <p class="contact-description">
          Fyll ut skjemaet under. Eg tek kontakt ved første ledige høve.
        </p>
      </div>

      <form class="flex flex-col text-lg" method="POST" action="/api/contact">
        <label for="name">Navn:</label>
        <input class="w-full border-1 border-gray-200 bg-white rounded-lg mb-4" type="text" id="name" name="name" required />
      
        <label for="email">E-post:</label>
        <input class="w-full border-1 border-gray-200 bg-white rounded-lg mb-4" type="email" id="email" name="email" required />
      
        <label for="service">Velg tenestetype:</label>
        <select  class="w-full border-1 border-gray-200 rounded-lg mb-4 bg-gray-50 p-1" id="service" name="service" required>
          {services.map(group => (
            <optgroup label={group.label}>
              {group.options.map(option => (
                <option value={option}>{option}</option>
              ))}
            </optgroup>
          ))}
        </select>
      
        <label for="message">Melding:</label>
        <textarea  class="w-full border-1 border-gray-200 bg-white rounded-lg mb-4" id="message" name="message" required></textarea>
      
        <button class="button" type="submit">Send</button>
      </form>
    </section>
  </div>
</Layout>

<style>
  .contact-section {
  width: 100%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1rem;
}

.contact-intro > * + * {
  margin-top: 1rem;
}

.contact-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.contact-description {
  color: rgb(107 114 128);
}

.form-group-container {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
  display: flex;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.form-input::placeholder,
.form-textarea:focus-visible {
  color: #6b7280;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
}

.form-textarea {
  min-height: 120px;
}

.form-submit {
  width: 100%;
  margin-top: 1.2rem;
  background-color: #3124ca;
  color: #fff;
  padding: 13px 5px;
  border-radius: 0.375rem;
}

</style>
