---
import Layout from "../layouts/Layout.astro";
import Images from "../components/Images.astro";
import desktopImage from "../images/hus.jpg";

import OmOss from "../components/OmOss.astro";
import Tjenester from "../components/Tjenester.astro";
import Ansatte from "../components/Ansatte.astro";

export const currentPath = "/";
---

<Layout currentPath={currentPath}>
  <section class="hero-section">
    <Images
      desktopImgUrl={desktopImage}
      alt="Norsk villa"
      desktopWidth={2560}
      desktopHeight={1400}
      format="jpg"
    />
    <div class="hero-text">
      <h2>Langli Takst</h2>
      <p>Presis verdi og profesjonell vurdering</p>
    </div>
  </section>
  <Tjenester />
  <Ansatte />
  <OmOss />
</Layout>
