---
import Layout from "../layouts/Layout.astro";
import Images from "../components/Images.astro";
import mobileImage from "../assets/Background360x640.png";
import desktopImage from "../images/hus.jpg";

import OmOss from "../components/OmOss.astro";

export const currentPath = "/";
---

<Layout currentPath={currentPath}>
  <section>
    <Images
      mobileImgUrl={mobileImage}
      desktopImgUrl={desktopImage}
      alt="Norsk villa"
      mobileWidth={360}
      mobileHeight={640}
      desktopWidth={2560}
      desktopHeight={1400}
      format="jpg"
    />
    <div class="hero-text content-center text-white">
      <h1 class="text-4xl">Langli Takst AS</h1>
    </div>
  </section>
  <OmOss />
</Layout>

<style>
  section {
    width: 100%;
    position: relative;
  }
  .pageheader {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .hero-text {
    position: absolute;
    inset: 0;
    margin: auto;
    padding: 1rem 2rem;
    width: fit-content;
    height: fit-content;
    backdrop-filter: blur(4px) invert(10%);
    text-align: center;
    border-radius: 16px;
    border: solid 1px white;
  }
</style>
