---
import Layout from "../layouts/Layout.astro";
import Images from "../components/Images.astro";
import desktopImage from "../images/hus.jpg";

import OmOss from "../components/OmOss.astro";
import Form from "../components/Form.astro";
import Tjenester from "../components/Tjenester.astro";

export const currentPath = "/";
---

<Layout currentPath={currentPath}>
  <section class="hero-section">
    <Images
      desktopImgUrl={desktopImage}
      alt="Norsk villa"
      desktopWidth={2560}
      desktopHeight={1400}
      format="jpg"
    />
    <div class="hero-text content-center text-white">
      <h1 class="text-4xl">Langli Takst AS</h1>
    </div>
  </section>
  <Tjenester />
  <OmOss />
  <Form />
</Layout>