---
import PageHeader from "../components/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
import Images from "../components/Images.astro";
import mobileImage from "../assets/Background360x640.png";
import desktopImage from "../assets/Background2560x1400.png";

export const currentPath = "/";
---

<Layout currentPath={currentPath}>
  <section>
    <Images
      mobileImgUrl={mobileImage}
      desktopImgUrl={desktopImage}
      alt="Placeholder image"
    />
    <div class="pageheader">
      <PageHeader pageTitle="Langli Takst AS" />
    </div>
    <div class="hero-text">
      <h1>Her kjem hovudsida til Langli Takst</h1>
    </div>
  </section>
</Layout>

<style>
  section {
    width: 100%;
    position: relative;
  }
  .pageheader {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .hero-text {
    position: absolute;
    inset: 0;
    margin: auto;
    max-width: 300px;
    height: 100px;
    backdrop-filter: blur(4px) invert(10%);
    text-align: center;
    border-radius: 16px;
  }
</style>
