---
import PageHeader from '../components/PageHeader.astro';
import Layout from '../layouts/Layout.astro';

export const currentPath = "/";
---

<Layout currentPath={currentPath}>
	<PageHeader pageTitle="Langli Takst AS" />
	<div class="h-72 content-center text-center">
		<h1>Her kjem hovudsida til Langli Takst</h1>
	</div>
</Layout>
