---
import PageHeader from '../components/PageHeader.astro';
import Layout from '../layouts/Layout.astro';

export const currentPath = "/om-langli-takst";
---
<Layout currentPath={currentPath}>
	<PageHeader pageTitle="Om Langli Takst" />
	<div class="h-72 content-center text-center">
		<h1>Her kjem om firmaet</h1>
	</div>
</Layout>