---
import PageHeader from '../components/PageHeader.astro';
import Layout from '../layouts/Layout.astro';

export const currentPath = "/reklamasjon";
---
<Layout currentPath={currentPath}>
	<PageHeader pageTitle="Reklamasjon" />
	<div class="h-72 content-center text-center">
		<h1>Her kjem om reklamasjon</h1>
	</div>
</Layout>