---
import PageHeader from '../components/PageHeader.astro';
import Layout from '../layouts/Layout.astro';

export const currentPath = "/tilstandsrapport";
---
<Layout currentPath={currentPath}>
	<PageHeader pageTitle="Tilstandsrapport" />
	<div class="h-72 content-center text-center">
		<h1>Her kjem tilstandsrapport</h1>
	</div>
</Layout>