---
import PageHeader from '../components/PageHeader.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout>
	<PageHeader pageTitle="Tenester" />
	<div class="h-72 content-center text-center">
		<h1>Her kjem tenestene til Langli Takst</h1>
	</div>
</Layout>

<style>
    
</style>