---
import { Image } from "astro:assets";
import ansatt1 from "../assets/ansatt1.jpg";
import ansatt2 from "../assets/ansatt2.jpg";

const ansatte = [
  {
    navn: "Thomas Angel Langli",
    tittel: "Takstmann",
    bilde: ansatt1,
    alt: "Portrett av Thomas Langli",
  },
  {
    navn: "Mathias Angel Langli",
    tittel: "Takstmann",
    bilde: ansatt2,
    alt: "Portrett av Mathias Langli",
  },
];
---

<section class="main-container">
  <h2>Våre ansatte</h2>
  <div class="team-list">
    {
      ansatte.map((ansatt) => (
        <div class="team-card shadow-box">
          <div class="image-wrapper">
            <Image
              src={ansatt.bilde}
              alt={ansatt.alt}
              width={600}
              height={500}
              class="team-img"
            />
            <div class="caption-blur">
              <div class="caption-text">
                <strong>{ansatt.navn}</strong>
                <span>{ansatt.tittel}</span>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>

<style>
  
  .main-container {
    padding: 3rem 0 2rem 0;
  }

  @media (min-width: 700px) {
    .main-container {
    padding: 8rem 0 6rem 0;
  }
  }

  h2 {
    text-align: center;
    padding-bottom: var(--card-padding);
  }

  .team-list {
    /* Kort-container */
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-card {
    /* Korta inni containeren */
    display: flex;
    flex-direction: column;
    border-radius: var(--card-radius);
    border: solid 1px black;
    background: #fff;
    align-items: center;
    flex: 1 1 240px; /* Minst 240px, veks ved plass */
    min-width: 220px;
    max-width: 400px;
  }

  @media (max-width: 700px) {
    .team-list {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  .image-wrapper {
    position: relative;
    width: 100%;
    border-radius: var(--image-radius);
    overflow: hidden;
  }

  .team-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: var(--card-radius);
  }

  .caption-blur {
    position: absolute;
    border: solid 1px black;
    margin: var(--blur-margin);
    border-radius: var(--blur-radius);
    left: 0;
    right: 0;
    bottom: 0;
    padding: calc(var(--card-padding) / 1.5) var(--card-padding);
    background: rgba(30, 30, 30, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  .caption-text {
    color: #fff;
    text-align: left;
    font-size: 1.05rem;
    line-height: 1.2;
  }

  .caption-text strong {
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .caption-text span {
    display: block;
    font-size: 0.97rem;
    font-weight: 400;
    opacity: 0.92;
    font-style: italic;
  }
</style>
