---
const { buttonText } = Astro.props;
const firstColor = "hsl(36, 100%, 50%)";
const secondColor = "hsl(0, 100%, 50%)";
---

<button>{buttonText}</button>

<style define:vars={{  firstColor, secondColor }}>
    button {
        color: hsl(0, 0%, 95%);
        text-shadow: 2px 2px hsl(0, 10%, 10%);
        padding: 6px 18px;
        background-image: linear-gradient(353deg, hsl(180, 50%, 20%), hsl(180, 50%, 40%));
        border: 2px solid hsl(180, 50%, 10%);
        border-radius: 8px;
        font-size: medium;
        box-shadow: 1px 2px 4px hsl(0, 10%, 10%);
        display: inline-block;
    }
    button:hover {
        cursor:pointer;
        box-shadow: 0px 1px 3px hsl(0, 10%, 10%);
        border: 1px solid hsl(180, 50%, 10%);
        transform: scale(0.99);
    }
</style>