<footer class="pt-10">
    <address class="pl-8 pb-4 content-center">
        <h1>Langli Takst AS</h1>
        <p>Langelandshaugen 12</p>
        <p>5412 Stord</p>
        <p class="">Telefon: <a href="tel:+4793262288">932 62 288</a></p>
    </address>
    <div class="py-4 text-center text-white"><p>© 2025 Langli Takst AS</p></div>
</footer>

<style>
    footer {
        background-color: hsl(206deg 42% 36%);
    }
    
    footer div {
        background-color: hsl(206deg 42% 31%);
    }
    address {
        font-style: normal;
        color: white;
    }
    
    h1 {
        font-size: larger;
        font-weight: bold;
    }
</style>