---
import { getImage } from "astro:assets";

import logo from "../logos/bmtf100.png";
const optimizedLogo = await getImage({ src: logo });
---

<footer class="tak">
  <address class="px-16 py-16 text-center md:text-right">
    <h1>Langli Takst AS</h1>
    <p>Langelandshaugen 12</p>
    <p>5412 Stord</p>
    <p class="pt-2">Telefon: <a href="tel:+4793262288">932 62 288</a></p>
    <p class="pb-2">
      E-post: <a href="mailto:post@langlitakst.no">post@langlitakst.no</a>
    </p>
    <img src={optimizedLogo.src} alt="BMTF Logo" class="mx-auto" />
    <p>© 2025 Langli Takst AS</p>
  </address>
</footer>

<style>
  address,
  div {
    font-style: normal;
    color: black;
  }

  h1 {
    font-size: larger;
    font-weight: bold;
  }

  
</style>
