---
import {
  Astronav,
  MenuIcon,
  MenuItems,
  Dropdown,
  DropdownItems,
} from "astro-navbar";

const { currentPath } = Astro.props;
---

<Astronav>
  <div class="flex justify-between">
    <a id="home" class={currentPath === "/" ? "active" : ""} href="/"
      >Langli Takst AS</a
    >
    <MenuIcon class="w-6 h-6 text-gray-800" />
  </div>
  <MenuItems class="hidden md:flex">
    <ul class="">
      <li>
        <a class={currentPath === "/prisar" ? "active" : ""} href="/prisar"
          >Priser</a
        >
      </li>
      <Dropdown class="group">
        <li class="dropdown">
          <button class="dropdown-toggle"
            ><a
              class={currentPath === "/tjenester" ? "active" : ""}
              href="/tjenester">Tjenester</a
            ></button
          >
          <DropdownItems>
            <ul class="dropdown-menu">
              <li>
                <a href="/tjenester/takst">Taksering og verdivurdering</a>
              </li>
              <li>
                <a href="/tjenester/byggkontroll">Byggeprosjekt og kontroll</a>
              </li>
              <li>
                <a href="/tjenester/kjopogsalg">Kjøp og salg av bolig</a>
              </li>
              <li><a href="/tjenester/energi">Energi og rådgivning</a></li>
              <li>
                <p class="fotnote">
                  Eksempel på enkel dropdown-funksjon. Må stylast
                </p>
              </li>
            </ul>
          </DropdownItems>
        </li>
      </Dropdown>
      <li>
        <a
          class={currentPath === "/om-langli-takst" ? "active" : ""}
          href="/om-langli-takst">Om Langli Takst</a
        >
      </li>
      <li>
        <a
          class={currentPath === "/bestill-takst" ? "active" : ""}
          href="/bestill-takst">Bestill tjenester</a
        >
      </li>
    </ul>
  </MenuItems>
</Astronav>

<style>
  .hidden {
    display: none;
  }

  a {
    color: hsl(175deg 28% 11%);
  }
  a:hover {
    color: hsl(175deg 38% 41%);
  }
  a.active {
    color: hsl(165deg 38% 61%);
  }
  a#home {
    font-size: xx-large;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 0.5rem;
    border: 1px solid #ddd;
    width: 300px;
    z-index: 100;
  }

  .dropdown:hover .dropdown-menu {
    display: block; /* Show dropdown on hover */
  }

  .dropdown-menu li {
    margin-bottom: 0.5rem;
  }

  .dropdown-menu li:last-child {
    margin-bottom: 0;
  }
</style>
