---
import { getImage } from "astro:assets";
const pathname = new URL(Astro.request.url).pathname; // Get the current URL path
const currentPath = pathname.slice(1); // Remove the leading "/"
import logo from "../images/LogoPlaceholder.webp";

const optimizedLogo = await getImage({ src: logo });
---

<nav class="w-full h-60 flex flex-row pr-20 text-xl">
    <div class="my-auto w-1/4">
        <a class={currentPath === "" ? "active" : ""} 
            href="/"><img
            src={optimizedLogo.src}
            alt="Langli Takst Temporary Logo"
            class="max-h-60"
          /></a>
    </div>
    <div class="flex flex-row gap-6 my-auto w-3/4 justify-end">
        <ul class="flex flex-row gap-4">
            <li><a class={currentPath === "bestill-takst" ? "active" : ""} href="/bestill-takst">Bestill takst</a></li>
            <li><a class={currentPath === "prisar" ? "active" : ""} href="/prisar">Prisar</a></li>
            <li><a class={currentPath === "tjenester" ? "active" : ""} href="/tjenester">Tenester</a></li>
            <li><a class={currentPath === "om-langli-takst" ? "active" : ""} href="/om-langli-takst">Om Langli Takst</a></li>
        </ul>
    </div>
</nav>

<style>
    nav {
        background-color: hsl(71deg 6% 77%);
    }
    a {
        color: hsl(175deg 28% 11%);
    }
    a:hover {
        color: hsl(175deg 38% 21%);
    }
    a.active {
        color: hsl(165deg 38% 41%);
    }
</style>