---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const { currentPath } = Astro.props;
---

<div class="navbar lg:flex justify-between h-24 px-12 gap-5 mx-auto items-center">
  <Astronav>
    <div class="flex w-full lg:w-auto justify-between">
      <a id="home" class={currentPath === "/" ? "active" : ""} href="/"
        >Langli Takst AS</a
      >
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="astronav-items astronav-toggle lg:flex hidden">
      <ul class="flex flex-col lg:flex-row lg:gap-5">
        <li>
          <a class={currentPath === "/priser" ? "active" : ""} href="/priser"
            >Priser</a
          >
        </li>
        <li class="dropdown">
          <button class="dropdown-toggle"
            ><a
              class={currentPath === "/tjenester" ? "active" : ""}
              href="/tjenester">Tjenester</a
            ></button
          >
          <ul class="dropdown-menu">
            <li>
              <a
                class={currentPath === "/tjenester/takst" ? "active" : ""}
                href="/tjenester/takst">Taksering og verdivurdering</a
              >
            </li>
            <li>
              <a
                class={currentPath === "/tjenester/byggkontroll"
                  ? "active"
                  : ""}
                href="/tjenester/byggkontroll">Byggeprosjekt og kontroll</a
              >
            </li>
            <li>
              <a
                class={currentPath === "/tjenester/kjopogsalg" ? "active" : ""}
                href="/tjenester/kjopogsalg">Kjøp og salg av bolig</a
              >
            </li>
            <li>
              <a
                class={currentPath === "/tjenester/energi" ? "active" : ""}
                href="/tjenester/energi">Energi og rådgivning</a
              >
            </li>
            <li>
              <p class="fotnote">
                Eksempel på enkel dropdown-funksjon. Må stylast
              </p>
            </li>
          </ul>
        </li>
        <li>
          <a
            class={currentPath === "/om-langli-takst" ? "active" : ""}
            href="/om-langli-takst">Om Langli Takst</a
          >
        </li>
        <li>
          <a
            class={currentPath === "/bestill-takst" ? "active" : ""}
            href="/bestill-takst">Bestill tjenester</a
          >
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</div>

<style>
  .navbar {
    background-color: hsl(210 20% 98%);
    width: 100%;
  }

  a {
    color: hsl(210, 60%, 50%);
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: large;
  }

  a:hover {
    color: hsl(210, 60%, 40%); /* mørkare blå */
  }

  a:active {
    color: hsl(44, 74%, 48%); /* mørkare gul fra logo */
  }
  a#home {
    font-size: xx-large;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 0.5rem;
    border: 1px solid #ddd;
    width: 300px;
    z-index: 100;
  }

  .dropdown:hover .dropdown-menu {
    display: block; /* Show dropdown on hover */
  }

  .dropdown-menu li {
    margin-bottom: 0.5rem;
  }

  .dropdown-menu li:last-child {
    margin-bottom: 0;
  }
</style>
