---
import { getImage } from "astro:assets";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import logo from "../logos/image001.png";

const optimizedLogo = await getImage({ src: logo });

const { currentPath } = Astro.props;
---

<div
  class="navbar lg:flex justify-between h-24 px-12 gap-5 mx-auto items-center"
>
  <Astronav>
    <div class="flex w-full lg:w-auto justify-between">
      <a id="home" class={currentPath === "/" ? "active" : ""} href="/"
        ><img
          src={optimizedLogo.src}
          alt="Langli Takst AS"
          class="max-h-13"
        /></a
      >
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="astronav-items astronav-toggle lg:flex hidden">
      <ul class="flex flex-col lg:flex-row lg:gap-5">
        <li>
          <a class={currentPath === "/priser" ? "active" : ""} href="/priser"
            >Priser</a
          >
        </li>
        <li class="dropdown">
          <a
            class={`dropdown-toggle ${currentPath.startsWith("/tjenester") ? "active" : ""}`}
            href="/tjenester"
            aria-haspopup="true"
            aria-expanded="false">Tjenester</a
          >
          <ul class="dropdown-menu">
            <li>
              <a
                class={currentPath === "/tjenester/takst" ? "active" : ""}
                href="/tjenester/takst">Taksering og verdivurdering</a
              >
            </li>
            <li>
              <a
                class={currentPath === "/tjenester/byggkontroll"
                  ? "active"
                  : ""}
                href="/tjenester/byggkontroll">Byggeprosjekt og kontroll</a
              >
            </li>
            <li>
              <a
                class={currentPath === "/tjenester/kjopogsalg" ? "active" : ""}
                href="/tjenester/kjopogsalg">Kjøp og salg av bolig</a
              >
            </li>
            <li>
              <a
                class={currentPath === "/tjenester/energi" ? "active" : ""}
                href="/tjenester/energi">Energi og rådgivning</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a
            class={currentPath === "/om-langli-takst" ? "active" : ""}
            href="/om-langli-takst">Om Langli Takst</a
          >
        </li>
        <li>
          <a
            class={currentPath === "/bestill-takst" ? "active" : ""}
            href="/bestill-takst">Bestill tjenester</a
          >
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</div>

<style>
  .navbar {
    background-color: hsl(210 20% 98%);
    width: 100%;
  }

  a {
    color: hsl(240, 5%, 10%);
    text-decoration: none;
    transition: color 0.3s ease-in;
    font-size: large;
  }

  a:hover,
  a:focus {
    color: hsl(44, 74%, 48%);
  }

  a:active {
    color: hsl(41, 74%, 38%);
  }

  a.active {
    color: hsl(41, 74%, 33%);
  }

  a#home {
    font-size: xx-large;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 0.5rem;
    border: 1px solid #ddd;
    width: 300px;
    z-index: 100;
  }

  .dropdown:hover .dropdown-menu {
    display: block; /* Show dropdown on hover */
  }

  .dropdown:hover > .dropdown-toggle,
  .dropdown:focus-within > .dropdown-toggle {
    color: hsl(41, 74%, 33%);
  }

  .dropdown-menu li {
    margin-bottom: 0.5rem;
  }

  .dropdown-menu li:last-child {
    margin-bottom: 0;
  }
</style>
