---
import Form from "./Form.astro";
---

<div class="minigrid">
  <div class="marginal ramme">
    <p class="">
      <b>Langli Takst AS</b> ble opprettet av Thomas Angel Langli i 2018. Thomas er
      utdannet byggmester og takstmann med 27 års erfaring med bolig og bygg.
      Med seg på laget har han Mathias Angel Langli som også er godkjent
      takstmann. Vi er begge medlemmer av Byggmestrenes Takseringsforbund (BMTF)
    </p>
    <p class="">
      Vi holder til på Stord på Vestlandet, og utfører taksering i områdene
      Haugesund, Sveio, Stord, Bømlo, Fitjar, Austevoll, Tysnes, Kvinnherad og
      Bjørnefjorden. Vi kan også utføre takst og kontroll i resten av landet ved
      behov. Vi utfører rapporter gjennom rapportsystemene til BMTF og Ivit.
    </p>
    <p><b>Ta kontakt i dag!</b></p>
  </div>
  <div>
    <Form />
  </div>
</div>

<style>
  p {
    font-size: 20px;
    line-height: 2.2rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
</style>