---
const { pageTitle } = Astro.props;
---

<section>
  <h2>{pageTitle}</h2>
</section>

<style>
  section {
    height: 5rem;
    align-content: center;
    background-color: transparent;
  }
  h2 {
    color: #011526;
    text-align: center;
  }
</style>
