---
const { items, category } = Astro.props; // Accept data as props
---
<div class="price-list">
  <h2 class="text-lg font-semibold pb-2">{category}</h2>
  <ul>
    {items.map((item: { name: unknown; price: unknown; }) => (
      <li>
        <span>{item.name}</span>
        <span>{item.price}</span>
      </li>
    ))}
  </ul>
</div>

<style>
  .price-list {
    background-color: hsl(230 50% 100%);
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #bbb, 2px 2px 2px #ccc, inset 1px 1px 1px #eee;
    border-radius: 12px;
    padding: 20px;
    max-width: 600px;
    margin: 10px auto
  }
  .price-list ul {
    list-style: none;
    padding: 0;
  }
  .price-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
</style>
