---
const { items, category } = Astro.props; // Accept data as props
---
<div class="price-list">
  <h2 class="text-lg font-semibold pb-2">{category}</h2>
  <ul>
    {items.map((item: { name: unknown; price: unknown; }) => (
      <li>
        <span>{item.name}</span>
        <span>{item.price}</span>
      </li>
    ))}
  </ul>
</div>