<div class="w-2/3 mx-auto py-8">
    <h1 class="text-center font-semibold text-4xl pb-4">Tjenester</h1>
    <p>
        Langli Takst tilbyr profesjonell taksering av boliger, eiendommer og
        næringsbygg, samt byggteknisk rådgivning og produksjon av plan- og
        fasadetegninger. Med lang erfaring i bransjen leverer Langli Takst ulike
        rapporter og vurderinger knyttet til kjøp, salg og utvikling av eiendom.
        Selskapet har også kompetanse innen energirådgivning og tilbyr tjenester som
        sikrer trygge og dokumenterte eiendomstransaksjoner.
    </p>
    
</div>
